@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
You will need to style each base element as you use it, but this is good!
It prevents/protects us from using superflous HTML elements, but it also forces
us to use inline tailwind with classNames={`stuff`}
*/
@layer base {
  h1 {
    @apply text-4xl;
    font-weight: 700;
  }
  h2 {
    @apply text-2xl;
    font-style: oblique;
    font-size: 36px;
  }
  h3 {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 8px;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #e2e2e2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
